@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@model IEnumerable<DATN_LiBrary.Models.PhieuMuon>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/LayoutIndexAdmin.cshtml";
    var phieuMuon = Model.FirstOrDefault();
    var couter = 1;
}

<section class="checkout-wrap padding-large">
    <div class="container">
        @* <form class="form-group" asp-controller="Home" asp-action="Details" >*@
        <div class="row d-flex flex-wrap">
            <div class="col-lg-12">
                <h3 class="mb-3 text-center">Chi tiết phiếu đặt  </h3>
                @if (Context.Session.GetString("Manguoidung") != null)
                {
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Họ và tên </label>
                            <input id="fname" class="form-control mt-2 mb-4 ps-3 " value="@phieuMuon?.ManguoimuonNavigation?.Ten" readonly>
                        </div>
                        <div class="col-lg-3">
                            <label>Mã sinh viên</label>
                            <input type="text" id="lname" class="form-control mt-2 mb-4 ps-3 "
                               value="@phieuMuon.ManguoimuonNavigation?.Manguoimuon" readonly>
                        </div>
                        <div class="col-lg-3">
                            <label>Khoa</label>
                            <input type="text" id="cname" class="form-control mt-2 mb-4 ps-3 " value="@phieuMuon.ManguoimuonNavigation?.Khoa" readonly>
                        </div>
                        <div class="col-lg-3">
                            <label>Khoá</label>
                            <input type="text" id="cname" class="form-control mt-2 mb-4 ps-3 " value="@phieuMuon.ManguoimuonNavigation?.Khoas" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Ngày gửi</label>
                            <input type="Date" value="@phieuMuon?.Ngaytao?.ToString("yyyy-MM-dd")" readonly>
                        </div>
                        <div class="col-lg-4">
                            <label>Ngày mượn</label>
                            <input type="Date" name="ngaymuon" value="@phieuMuon.Ngaymuon?.ToString("yyyy-MM-dd")" readonly>
                        </div>
                        <div class="col-lg-4">
                            <label>Ngày trả</label>
                            <input type="Date" name="ngaytra" value="@phieuMuon.Ngaytra?.ToString("yyyy-MM-dd")" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <label>STT</label>
                        </div>
                        <div class="col-lg-9">
                            <label>Nhan đề</label>
                        </div>
                        <div class="col-lg-2">
                            <label>Số lượng</label>
                        </div>
                    </div>
                    @foreach (var chiTietPhieuMuon in phieuMuon?.Chitietphieumuons)
                    {
                        var sach = chiTietPhieuMuon?.MacthdNavigation?.MasachNavigation;
                        var macthd = chiTietPhieuMuon?.MacthdNavigation;

                        if (sach != null && macthd != null)
                        {
                            
                            <div class="row book-row" data-book-id="@macthd.Macthd">
                                <div class="col-lg-1">
                                    <input id="stt_@couter" name="stt_@couter" class="form-control mt-2 mb-4 ps-3" value="@couter" readonly>
                                </div>
                                <div class="col-lg-9">
                                    <input id="nhande_@couter" name="nhande_@couter" class="form-control mt-2 mb-4 ps-3" value="@sach.Nhande" readonly>
                                </div>
                                <div class="col-lg-1">
                                    <input id="soluong_@couter" name="soluong_@couter" class="form-control mt-2 mb-4 ps-3" value="1" readonly>
                                </div>
                                <div class="col-lg-1">
                                    <a  onclick="removeRow(this)">
                                        <i class="fas fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                        
                            couter++;
                        }
                    }
                
                
                

                }


            </div>


            <div class="cart-totals padding-medium pb-0">
                <form id="editForm" onsubmit="submitEditRequest(event)">
                    <input type="hidden" name="id" value="@phieuMuon.Maphieumuon" />
                    <input type="hidden" id="bookIds" name="bookIds" value="" />
                    <div class="button-wrap mt-3">
                        <button type="submit" class="btn">Duyệt</button>
                    </div>
                </form>
                <form id="editForm" onsubmit="submitRejectRequest(event)">
                    <input type="hidden" name="id" value="@phieuMuon.Maphieumuon" />
                    <div class="button-wrap mt-3">
                    <button type="submit" name="id" >Không duyệt</button>
                </div>
                </form>

                
            </div>


        </div>
        @* </form>*@
    </div>
</section>


<!-- Nút kích hoạt yêu cầu chỉnh sửa -->
<script>
    function updateBookIds() {
        var bookIds = [];
        document.querySelectorAll('.book-row').forEach(function (row) {
            if (!row.classList.contains('removed')) {
                bookIds.push(row.getAttribute('data-book-id'));
            }
        });
        document.getElementById('bookIds').value = bookIds.join(',');
    }

    function removeRow(element) {
        event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>

        if (confirm("Bạn có muốn xóa cuốn sách này không?")) {
            var row = element.closest('.book-row'); // Tìm phần tử .book-row gần nhất của phần tử mà người dùng click
            if (row) {
                row.remove(); // Xóa phần tử .book-row
                updateBookIds(); // Cập nhật lại danh sách bookIds
            }
        }
    }

    function submitRequest(event, url, modalId) {
        event.preventDefault(); // Ngăn form submit mặc định
        updateBookIds();

        var id = $("input[name='id']").val(); // Lấy id từ input ẩn
        var bookIds = $("#bookIds").val(); // Lấy danh sách bookIds

        $.ajax({
            url: url, // Đường dẫn đến action tương ứng
            type: "POST", // Phương thức POST
            data: { id: id, bookIds: bookIds }, // Dữ liệu gửi đi
            success: function (response) {
                if (response.success) {
                    $('#' + modalId).modal('show'); // Hiển thị modal
                    setTimeout(function () {
                        window.location.href = '/HomeAdmin/Index'; // Chuyển hướng về trang index sau 3 giây
                    }, 3000);
                } else {
                    alert("Thao tác không thành công! Lỗi: " + response.error);
                }
            },
            error: function () {
                alert("Đã xảy ra lỗi trong quá trình thực hiện thao tác!");
            }
        });
    }

    function submitEditRequest(event) {
        submitRequest(event, "/HomeAdmin/Edit", "successModal");
    }

    function submitRejectRequest(event) {
        submitRequest(event, "/HomeAdmin/EditKhongDuyet", "rejectModal");
    }
</script>




<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Duyệt thành công</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn đã được duyệt phiếu @phieuMuon.Maphieumuon.
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">Không duyệt thành công</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn đã không duyệt phiếu @phieuMuon.Maphieumuon.
            </div>
        </div>
    </div>
</div>
